
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
}

#primeira-div {
    min-height: 2em;
    background-color: royalblue;
}
#segunda-div {
    height: 500px;
    width: 250px;
}
#terceira-div {
    height: 4em;
    width: 10em;
    background-color: black;
}
#texto-span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(143, 13, 13);
    background-color: aqua;
}
